
  
    <div class="wrap">
     <h1 class="logo ">Word search game</h1>
<div id="error">
     </div>
     <div id="first">
<%= form_tag('/word') do %>
<!-- <p id="msg"> To Start Game Please Select Category which you want....!</p><br />  -->
<div class="alert alert-danger" id="msg">
    <strong>To Start Game Please Select Category which you want....!
    </strong> 
  </div><br /><br /><br /><br/>
<div data-toggle="modal" data-target="#myModal" id="demo" class="select center-on-page">
<%= select_tag :category, options_for_select(Word.select(:category).pluck(:category)) , id: "category-select" , include_blank: true %>
 </div>
  <% end %>
</div>
</div>
 
<div class="wrap">
   <div class="alert alert-danger hide" id="timer"></div>

   <div id="some_div"></div>
      <!-- <div id="timer">2:00</div> -->
      <div id="countdown2"> </div>
     <p id="p1" class="hide"></p>
      <section id="ws-area"  ></section>
       <button onclick="start_game()" class="hide" id="start">Lets Start Game</button>

       <ul class="ws-words h3 card card-image" ></ul> <!-- style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);"
      -->
   
  </div>

    <script type="text/javascript">
    $(function() {
    $("#category-select").on("change", function() {
      var select_val = $(this).val();
      console.log(select_val);
      if (select_val) {
       $(this).addClass('hide');
       $("#msg").addClass('hide'); 
       $("#timer").removeClass('hide')
       $("#first").addClass('hide')
       $("#start").removeClass('hide')
         // Put words into `.ws-words`
        $.ajax({
        url:"words/fetch_words",
        type:'GET',
        dataType: "json",
        data: {"select_val" : select_val } , 
        success: function(data){
          alert("success")
         // alert("success")
          gon.words=data
          
         //let timerId = setInterval(2000);
        // alert(data);
        alert("Game is start");

        console.log(data)

        

        },
        error:function(){
          alert("error")
        }
      });

  
      
     }
   

    });
    
  });
    function start_game() {
  alert("hello")
  var input = {
              year: 0,
              month: 0,
              day: 0,
              hours: 0,
              minutes: 0,
              seconds: 0
          };
          

         var timestamp = new Date(input.year, input.month, input.day,
         input.hours, input.minutes, input.seconds);

         var interval = 1;

        tm=setInterval(function () {
        timestamp = new Date(timestamp.getTime() + interval * 1000);
        document.getElementById('countdown2').innerHTML =  timestamp.getMinutes() + ':' + timestamp.getSeconds() ;
         }, Math.abs(interval) * 1000);
        var gameAreaEl = document.getElementById('ws-area');
          var gameobj = gameAreaEl.wordSearch();

        //Put words into `.ws-words`
          var words = gameobj.settings.wordsList,
          wordsWrap = document.querySelector('.ws-words');
          for (i in words) {
            var liEl = document.createElement('li');
            liEl.setAttribute('class', 'ws-word');
            liEl.innerText = words[i];
            wordsWrap.appendChild(liEl);


         

          }

  var player_time = document.getElementById("countdown2").innerHTML;
     console.log(player_time)
   $.ajax({
    url: "/histories/", 
    data: { "score": 0 , "player_time": "1:0" }, 
    dataType: "json",
    type: 'POST',
    success: function (data) {
        console.log(data);
        console.log(data.id);

        alert("created")
        document.getElementById("p1").innerHTML = data.id;
       

     },
        error:function(){

          alert("error");
          
        }
      }); 
   $("#start").addClass('hide')
}

    //alert(words)
    
    </script>

