
  
    <div class="wrap">
     <h1 class="logo ">Word search game</h1>
<div id="error">
     </div>
     <div id="first">
<%= form_tag('/word') do %>
<!-- <p id="msg"> To Start Game Please Select Category which you want....!</p><br />  -->
<div class="alert alert-danger" id="msg">
    <strong>To Start Game Please Select Category which you want....!
    </strong> 
  </div><br /><br /><br /><br/>
<div data-toggle="modal" data-target="#myModal" id="demo" class="select center-on-page">
<%= select_tag :category, options_for_select(Word.select(:category).pluck(:category)) , id: "category-select" , include_blank: true %>
 </div>
  <% end %>
</div>
</div>
 
<div class="wrap">
  <p id="category_name" class="h1" style="color:blue;"></p>
  <button onclick="start_game()" class="hide btn btn-lg btn-success" id="start">Lets Start Game  <span class="glyphicon glyphicon-hand-right"></span></button><br /><br />
  <button onclick="document.location.reload();" class="hide btn btn-lg btn-warning" id="back"><span class="glyphicon glyphicon-hand-left"></span>  Back</button>

</div>
<div class="wrap jumbotron hide" id="grid">
   <div class="hide circle-text" id="timer"></div>
 
       <div id="countdown2" class="hide " > 
       </div>
      <p id="p1" class="hide"></p>
      <div class="score" >Scores:<span id="scores"></span></div>
      <section id="ws-area"  ></section>
     
      <ul class="ws-words h3 card card-image" ></ul>

      
   
  </div>

    <script type="text/javascript">
    $(function() {
    $("#category-select").on("change", function() {
      var select_val = $(this).val();
      console.log(select_val);
      if (select_val) {
       $(this).addClass('hide');
       $("#msg").addClass('hide'); 
      
       $("#first").addClass('hide')
       $("#start").removeClass('hide')
       $('#back').removeClass('hide')
         // Put words into `.ws-words`
        $.ajax({
        url:"words/fetch_words",
        type:'GET',
        dataType: "json",
        data: {"select_val" : select_val } , 
        success: function(data){
          gon.words=data
          document.getElementById("category_name").innerHTML = select_val

        console.log(data)

        

        },
        error:function(){
          alert("error")
        }
      });

  
      
     }
   

    });
    
  });
    function start_game() {
  let timerInterval
Swal.fire({
  timer: 2000,
  onBeforeOpen: () => {
    Swal.showLoading()
    timerInterval = setInterval(() => {
      Swal.getContent().querySelector('strong')
        .textContent = Swal.getTimerLeft()
    }, 100)
  },
  onClose: () => {
    clearInterval(timerInterval)
  }
}).then((result) => {
  if (
    // Read more about handling dismissals
    result.dismiss === Swal.DismissReason.timer
  ) {
    // console.log('I was closed by the timer')
  }
})
  var input = {
              year: 0,
              month: 0,
              day: 0,
              hours: 0,
              minutes: 0,
              seconds: 0
          };
          

         var timestamp = new Date(input.year, input.month, input.day,
         input.hours, input.minutes, input.seconds);

         var interval = 1;


        tm=setInterval(function () {
        timestamp = new Date(timestamp.getTime() + interval * 1000);
        document.getElementById('countdown2').innerHTML =  timestamp.getMinutes() + ':' + timestamp.getSeconds() ;
         }, Math.abs(interval) * 1000);
        var gameAreaEl = document.getElementById('ws-area');
          var gameobj = gameAreaEl.wordSearch();

        //Put words into `.ws-words`
          var words = gameobj.settings.wordsList,
          wordsWrap = document.querySelector('.ws-words');
          for (i in words) {
            var liEl = document.createElement('li');
            liEl.setAttribute('class', 'ws-word');
            liEl.innerText = words[i];
            wordsWrap.appendChild(liEl);


         

          }

  var player_time = document.getElementById("countdown2").innerHTML;
     console.log(player_time)
   $.ajax({
    url: "/histories/", 
    data: { "score": 0 , "player_time": "1:0" }, 
    dataType: "json",
    type: 'POST',
    success: function (data) {
        console.log(data);
        console.log(data.id);

        // alert("created")
        document.getElementById("p1").innerHTML = data.id;
        document.getElementById("scores").innerHTML = 0

     },
        error:function(){

          alert("error");
          
        }
      }); 
   $("#start").addClass('hide')
    $("#timer").removeClass('hide')
    $("#grid").removeClass('hide')
}

    //alert(words)
    
    </script>

