
  
    <div class="wrap">
      <h1 class="logo">Word search game</h1>

     
<%= form_tag('/word') do %>
<p id="msg"> To Start Game Please Select Category which you want....!</p><br /> 
<%= select_tag :category, options_for_select(Word.select(:category).pluck(:category)) , id: "category-select" , include_blank: true %>
 
  <% end %>
   <!-- <div id="some_div"></div> -->

      <div id="countdown2"> </div>
      <section id="ws-area"></section>
       <ul class="ws-words"></ul>
       <div class="container">
   
</div>
    </div>
   
    <script type="text/javascript">
    $(function() {
    $("#category-select").on("change", function() {
      var select_val = $(this).val();
      console.log(select_val);
      if (select_val) {
       // alert(select_val == select_val);
       $(this).addClass('hide');
       $("#msg").addClass('hide'); 
         //alert(gameobj);
      // Put words into `.ws-words`
        $.ajax({
        url:"words/fetch_words",
        type:'GET',
        dataType: "json",
        data: {"select_val" : select_val } , //select_val,
        success: function(data){
         // alert("success")
          gon.words=data
          
         //let timerId = setInterval(2000);
        // alert(data);
          alert("Game is start");
          console.log(data)



        var timeLeft = 60;
        var elem = document.getElementById('some_div');
        var timerId = setInterval(countdown, 1000);

        function countdown() {
          if (timeLeft == -1) {
          clearTimeout(timerId);
          //doSomething();
          } else {
          elem.innerHTML = timeLeft + ' seconds remaining';
          timeLeft--;
          }
        }




          var input = {
              year: 0,
              month: 0,
              day: 0,
              hours: 0,
              minutes: 0,
              seconds: 0
          };
          

         var timestamp = new Date(input.year, input.month, input.day,
         input.hours, input.minutes, input.seconds);

         var interval = 1;

        tm=setInterval(function () {
        timestamp = new Date(timestamp.getTime() + interval * 1000);
        document.getElementById('countdown2').innerHTML =  timestamp.getMinutes() + ':' + timestamp.getSeconds() ;
         }, Math.abs(interval) * 1000);
       // console.log(timestamp)
          var gameAreaEl = document.getElementById('ws-area');
          var gameobj = gameAreaEl.wordSearch();

        //Put words into `.ws-words`
          var words = gameobj.settings.wordsList,
          wordsWrap = document.querySelector('.ws-words');
          for (i in words) {
            var liEl = document.createElement('li');
            liEl.setAttribute('class', 'ws-word');
            liEl.innerText = words[i];
            wordsWrap.appendChild(liEl);


          }

        },
        error:function(){
          alert("error")
        }
      });
      
      
     } 

    });
  });

    //alert(words)
    
    </script>

