@media screen and (max-width:800px) {
  .left, .main, .right {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
.main {
  float:left;
  width:60%;
  padding:0 20px;
}
body, h1 {
   /*background-image: url("/word-search-puzzle.jpg");*/
  margin: 0;
  padding: 0;
  background-image:url("word-search-puzzle.jpg");
  
  background-repeat: no-repeat;
  background-size: cover;
  

}


h1 {
  text-transform: uppercase;
  color:red;
  margin-bottom: 40px;
}

body {
  
  color: #333;
  overflow-x: hidden;
}
/* Select Options*/
.center-on-page {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-50%);
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #3a2c93;
  background-image: none;
}
/* Custom Select */
.select {
  position: absolute;
  display: block;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
}
select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #fff;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #34495e;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}
.select::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

/* Common */

.fix {
  *zoom: 1;
}

.fix:after {
  display: table;
  clear: both;
  content: '';
}

/* Home */
/*
.card {
    background-color: #ffffff;
    border: 1px solid rgba(0, 34, 51, 0.1);
    box-shadow: 2px 4px 10px 0 rgba(0, 34, 51, 0.05), 2px 4px 10px 0 rgba(0, 34, 51, 0.05);
    border-radius: 0.15rem;
}*/

/* Tabs Card */

/*.tab-card {
  border:1px solid #eee;
}*/

.tab-card-header {
  background:none;
}
/* Default mode */
.tab-card-header > .nav-tabs {
  border: none;
  margin: 0px;
}
.tab-card-header > .nav-tabs > li {
  margin-right: 2px;
}
.tab-card-header > .nav-tabs > li > a {
  border: 0;
  border-bottom:2px solid transparent;
  margin-right: 0;
  color: #737373;
  padding: 2px 15px;
}

.tab-card-header > .nav-tabs > li > a.show {
    border-bottom:2px solid #007bff;
    color: #007bff;
}
.tab-card-header > .nav-tabs > li > a:hover {
    color: #007bff;
}

.tab-card-header > .tab-content {
  padding-bottom: 0;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin-right: -15px;
    margin-left: -15px;

}

.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

.parent {
  position: relative;
  width: 80%;
  height: 80%;
  margin: 0 40px;
}
.previous, .next {
  position: absolute;
  width: 50px;
  height: 20px;
  top: 0;
  /*bottom: 0;*/
  margin: auto;
}
.previous {
  left: 0;
  margin-left: -15px;
}
.next {
  right: 0;
  margin-right: -15px;
}
.next-pause{
  width:70px;
  height:auto;
  background:#CC0000;
  color:#FFF;
  padding:5px 2px;
  text-align:center;
  top:0;
  position:absolute;
  right:0;
  margin-right: -100px;
  bottom: 0;
}

.glyphicon-home {
color: black;
font-size: 30px;
/*background: #000;
padding: 15px;
border-radius: 30px;
margin-left: 20px;
 
  display: inline-block;*/
}
.glyphicon-pause{
  color: black;
font-size: 30px;
}
.circle-text {
display: table-cell;
height: 50px; /*change this and the width
for the size of your initial circle*/
width: 50px;
text-align: center;
vertical-align: middle;
border-radius: 50%;
/*make it pretty*/
background: #000;
color: #fff;
font: 20px "josefin sans", arial; /*change this
for font-size and font-family*/
}
.table {
    margin: 0 auto;
    width: 80%;
}
.jumbotron{
    /*background-image:url("word-search-logo.png") no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;*/
      background-image:url("background.jpg");
      background-repeat: no-repeat;
      background-size: cover
}
.jumbotron-history{
    /*background-image:url("word-search-logo.png") no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;*/
      /*background-image:url("background.jpg");
      background-repeat: no-repeat;
      background-size: cover*/
      background: #A9A9A9;
}
.score{
  /*display: inline-block;*/
  color: black;
  width: 159px;
  /*padding: 12px 8px;*/
  padding: 20px ;
  border-radius: 10px;
  background: #fff;
  /*border-radius: 4px;*/
  margin-left: 500px;
  margin-top: 20px;
 /* position: relative;*/
  width: 80%;
  height: 80%;
  margin: 0 40px;

}
.wrap {
  /*color:red;*/
  /*width: 960px;*/
  margin: 0 auto;
 /* padding: 40px 0;*/
  text-align: center;
  position:relative;
   /*float:left;*/
  width:60%;
  padding:0 20px;

  /*background-image:url("word-search-logo.png");
  background-repeat: no-repeat;
  background-size: cover*/

}
.wrap-gride {
  /*color:red;*/
  /*width: 960px;*/
  margin: 0 auto;
 /* padding: 40px 0;*/
  text-align: center;
  position:relative;
   /*float:left;*/
  width:80%;
  padding:0 20px;

  /*background-image:url("word-search-logo.png");
  background-repeat: no-repeat;
  background-size: cover*/

}

.logo, #gameArea {
  margin-bottom: 40px;
  text-shadow: 3px 2px red;
}

.ws-area, .ws-words {
  color:red;
  display: inline-block;
  vertical-align: top;
}

.ws-words {
  margin-left: 20px;
  text-align: left;
  /*background: #6d4c41;*/
  /* border: 10px solid blue;*/
   border-radius: 10px;
  padding: 20px;

  /*display: inline-block;*/
}

.ws-word {
  margin-bottom: 4px;
 /* border: 10px solid blue;*/
   /*padding: 20px;*/
  /*padding: 20px;*/
  border-radius: 10px;
}

.ws-words ::first-letter{

  text-transform : capitalize;

}

/* Wordsearch */

.ws-area {
 /* background: #6d4c41;*/
  
  display: inline-block;
   border: 25px solid blue;
  padding: 20px ;
  border-radius: 10px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}


.ws-row {
  line-height: 0;
}

.ws-col {
  cursor: pointer;
}

.ws-col.ws-selected {
  background: #FF0000;
}

.ws-found {
  background: yellow;
}

.ws-game-over-outer {
  background: rgba(0, 0, 0, 0.85);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.ws-game-over-inner {
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  display:table;
}

.ws-game-over {
  display:table-cell;
  vertical-align:middle;
}

.ws-game-over h2 {
  color:#FFFFFF;
  font-size:2em;
  text-transform:uppercase;
  padding:0;
  margin:0 0 9px 0;
}

.ws-game-over p {
  color:#FFFFFF;
  font-size:1em;
  padding:0;
  margin:0;
}
